<div class="player-info-wrapper">
  <div class="player-info-cell">
    Posicion X: {{player.x | number}}
  </div>
  <div class="player-info-cell">
    Posicion Y: {{player.y | number }}
  </div>
  <div class="player-info-cell">
    Velocidad x: {{player.vx | number}}
  </div>
  <div class="player-info-cell">
    Velocidad y: {{player.vy | number}}
  </div>
  <div class="player-info-cell">
    Aceleracion : <input [(ngModel)]="player.forwardThrottle"  type="range" min="0" max="5" step="0.1"> {{player.forwardThrottle | number}}
  </div>
  <div class="player-info-cell">
    Deceleracion : <input [(ngModel)]="player.backwardThrottle" type="range" min="0" max="5" step="0.1"> {{player.backwardThrottle | number}}
  </div>
  <div class="player-info-cell">
    Torque : <input [(ngModel)]="player.torque"  type="range" min="0" max="0.1" step="0.001"> {{player.torque | number}}
  </div>
  <div class="player-info-cell">
    Drag : <input [(ngModel)]="player.drag"  type="range" min="0" max="1" step="0.001"> {{player.drag | number}}
  </div>
</div>