<div class="component-wrapper">
    <h2>Game </h2>
    <div class="game-wrapper">
        <div class="actions">
            <h3>Actions</h3>
            <button (click)="fullReset()">Reset</button>
        </div>
        <canvas [width]="width" [height]="height" id="canvas"></canvas>
        <div (mouseenter)="showMoreInfo()" (mouseleave)="showLessInfo()" class="player-info-wrapper" [ngClass]="{'player-info-visible':showingMoreInfo}">
            <div class="show-more"></div>
            <!--<app-player-info [player]="player1"></app-player-info>-->
        </div>
        <!--<app-player-forces width="100" height="100" [player] = "player1" ></app-player-forces>-->
    </div>
   
</div>

<div [ngClass]="{'overlay': showingMoreInfo}" class="no-overlay"></div>